<div class="container mt-3">
  <!-- Form -->

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="myForm" (submit)="onClick()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
          <span
            class="small text-danger"
            *ngIf="myForm.get('name').touched && !myForm.get('name').valid"
            >Name is required!</span
          >
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            formControlName="price"
          />
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input
            type="text"
            class="form-control"
            id="category"
            formControlName="category"
          />
        </div>
        <button class="btn btn-success form" type="submit">
          {{ !isUpdate ? "Add" : "Update" }}
        </button>
      </form>
    </div>
  </div>
  <br />

  <!-- Primeng Table -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Category</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.name }}</td>
              <td>{{ data.price }}</td>
              <td>{{ data.category }}</td>
              <td>
                <i
                  class="fa fa-trash text-danger"
                  aria-hidden="true"
                  (click)="onDelete(data.id)"
                ></i>
              </td>

              <td>
                <button class="text-success btn" (click)="update(data.id)">
                  Update
                </button>
                <i class="fa-duotone fa-pen-nib"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
